p {
    color: red
}

h3 {
    color: blue
}

a {
    background: green;
}

#parrafo2 {
    color: green;
}

.parrafoNegro {
    color: black;
}

.parrafoGris {
    color: gray;
}

.fondoRojo {
    background-color: red;
}

.textoGrandeNegrita {
    font-size: x-large;
    font-weight: bold;
}

.imagenPequeña {
    height: 200px;
}

.contenedorConMargen {
    margin: 50px;
    border: 1px solid red;
    padding: 10px;
}

.contenedorDivsGrid {
    border: 2px solid green;
    display: grid;
    grid-column: auto;
    grid-template-rows: 50px 50px;
    grid-template-columns: 30% 30% 40%;
    margin: 20px;
}

.contenedorDivsFlex {
    border: 2px solid green;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.divTest {
    border: 1px solid red;
}